Library/*
Temp/*
iOS-Build/*
*/DerivedData/*
*.booproj
*.csproj
*.sln
*.userprefs
*.pidb
*.unityproj
.DS_Store
*.xcuserstate
*.xcuserdatad
*.apk
*.pbxuser
*.app
*.sublime-project*
*.sublime*
*.exe
*_Data
Fishjn/*
